@sidebar-bg: lightgrey;
@active-border: #5685ff;

@sidebar-width: 200px;
@header-height: 45px;

.disable-user-select() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  .disable-user-select();
}

#header {
  width: 100%;
  height: @header-height;
  background-color: darken(@sidebar-bg, 20%);
  h2 {
    padding: 8px;
  }
}

#content {
  display: table;
  height: 100%
}

#sidebar {
  position: absolute;
  width: ~"calc(@{sidebar-width} - 16px)";
  height: ~"calc(100% - @{header-height})";
  top: @header-height;
  left:0;
  background-color: @sidebar-bg;
  padding: 8px;
}

#canvas-container {
  position: absolute;
  width: ~"calc(100% - @{sidebar-width})";
  height: ~"calc(100% - @{header-height})";
  top: @header-height;
  left: @sidebar-width;

  canvas {
    display: block;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 8px;
    right: 0;
    cursor: crosshair;
  }
}

#layers-container {
  margin-top: 8px;

  .layer-thumbnail.active{
      border: 3px dashed @active-border;
      margin: 0 0 8px 0;
  }

  .layer-thumbnail {
    position: relative;
    background-color: lighten(@sidebar-bg, 20%);
    margin: 3px 3px 11px 3px;
    float:left;

    label {
      position: absolute;
      top:0;
      left:0;
    }
  }
}
